/* shared styles */

/* * {
    font-family: 'Poppins', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Manrope', sans-serif; } */


body {
    max-width: 1440px;
    margin: 0 auto;
}

/* header styles  */

header {
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>h3 {
    color: #3A3A3A;
    font-size: 1.5rem;
    font-weight: 700;
}

nav>ul {
    display: flex;
    padding-left: 0;
}

nav li {
    list-style: none;
    margin-right: 30px;
}

nav li a {
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
}

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.banner-content {
    width: 50%;
}

.banner-title {
    color: #3A3A3A;
    font-size: 3.25rem;
    font-weight: 700;
    margin-bottom: 0;
}

.banner-description {
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
}

.preebook-btn {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 40px;
    background-color: #E02C6D;
    padding: 10px 24px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
}

.banner-image {
    width: 33%;
    background-image: url('images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px;
}
